
.main-content-box{
    padding: 0px;
}
.main-content-box h2.title{
    font-size: 16px;
    font-weight: 400;
    color: #333;
    padding: 2px 0 2px 10px;
    border-left: 2px solid #3472ef;
    margin: 0 0 20px 2px;
}
.main-content-box .article-list ul.list{
    padding: 0px;
}
.main-content-box .article-list .list li {
    padding: 25px 0;
    border-bottom: 1px solid #f0f0f0;
    background-color: #fff;
    margin-bottom: 20px;
    list-style: none;
}
.main-content-box .article-list .list li .news-img-box {
    padding-left: 10px;
}
.main-content-box .article-list .list li .news-img-box a img{
    width: 100%;
    height:100%;
}

.main-content-box .article-list .list li .news-content .title-h3{
    padding: 10px 0;
}
.main-content-box .article-list .list li .news-content .title-h3 a{
    color:#204d74;
    font-size: 20px;
}
.main-content-box .article-list .list li.li-text{
    margin: 20px 0px;
}
.main-content-box .article-list .list li .news-content p.news-info {
    color: #526163;
    height: 100px;
    overflow: hidden;
    font-size: 14px;
    padding: 8px 12px 3px 5px;
}

.main-content-side .along-the-way{
    background-color: #fff;
    height:400px;
    padding:15px;
}
.main-content-side h2.title{
    font-size: 16px;
    font-weight: 400;
    color: #333;
    padding: 2px 0 2px 10px;
    border-left: 2px solid #3472ef;
    margin: 0 0 20px 2px;
}
.main-content-side .along-the-way{
    background-color: #fff;
}
.main-content-box .article-list .list li .news-content .title-h3 {
    padding: 10px 0;
    color: #3d3d3d;
    font-size: 16px;
}
.main-content-box .article-list .list li:hover {
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 1px 3px 9px #ccc;
    transition: .3s;
}
@media(max-width: 992px) {
    .main-content-box .article-list .list li .news-img-box {
        display: none;
    }
}

/*
nav start
*/
@media(min-width: 992px){
    #blog-list  ul li{
        width: 140px;
    }
}
@media(min-width: 750px)and (max-width: 992px){
    #blog-list  ul li{
        width: 87px;
    }
}
.left-side{
    animation: fadeInLeft 1s 1;
}
.right-side{
    animation: fadeInRight 1s 1;
}
@keyframes fadeInLeft{
    0%{
        transform: translateX(-15px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes fadeInLeft{
    0%{
        transform: translateX(-15px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeInRight{
    0%{
        transform: translateX(15px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes fadeInRight{
    0%{
        transform: translateX(15px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.input-icon{
    position: relative;
}
.input-icon input[type='text']{
    padding-right: 30px;
}
.input-icon .icon{
    position: absolute;
    right: 5px;
    top: 50%;
    color: rgb(226, 223, 223);
    transform: translateY(-50%);
}